.kanban-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: linear-gradient(to right, #007bff, #00bfff);
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  border: 2px solid #007bff;
  transition: background 0.3s ease;
}

.kanban-heading:hover {
  background: linear-gradient(to right, #00bfff, #007bff);
}

.logout-button {
  background-color: #ff6347;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #cc4125;
}

.manage-button {
  background-color: #3e820e;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.manage-button:hover {
  background-color: #316909;
}

.container {
  display: flex;
  gap: 10px;
}